PORT=3000
NODE_ENV=development

# Set your Postgres connection string here. Example formats:
#  DATABASE_URL=postgresql://username:password@localhost:5432/database_name
#  DATABASE_URL=postgres://username:password@db.example.com:5432/database_name
# If your password contains special characters (for example: @, /, :),
# URL-encode the password before placing it here.
DATABASE_URL=postgresql://cse340_database_6fjv_user:PQCNyyRkoldLBh6ApIihJZij4LQee202@dpg-danem28ae00c73ehae80-a.ohio-postgres.render.com/cse340_database_6fjv